<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<IncludeTestAssembly>false</IncludeTestAssembly>

	<CodeCoverage>
		<!-- Exclude generated source files -->
		<Sources>
			<Exclude>
				<Source>.*[\\/]+obj[\\/]+.*</Source>
				<Source>.*\.g\.cs$</Source>
				<Source>.*\.generated\.cs$</Source>
			</Exclude>
		</Sources>

		<!-- Exclude namespaces -->
		<Functions>
			<Exclude>
				<Function>^Microsoft\.AspNetCore\.OpenApi\.Generated\..*</Function>
				<Function>^Wrap\.CrazyEmoji\.Api\.Data\.Migrations\..*</Function>
			</Exclude>
		</Functions>
	</CodeCoverage>
</Configuration>